h1
{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color:rgb(0, 128, 255);
    background-color: rgb(253, 220, 131);
}

h6
{
    text-align: center;
    background-color: rgb(249, 62, 62);
    color:rgb(229, 219, 32);
}

h3
{
    text-align: center;
    background-color: rgb(0, 128, 255);
    color:rgb(229, 219, 32);
}

img
{
    height:auto
    width: 600px;
}